<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="SQLConnect" value="Data Source=DESKTOP-KR8A64M;Initial Catalog=ShowmarkNET;User ID=sa;Password=123456;&#xA;         Connect Timeout=30;Encrypt=False;&#xA;         TrustServerCertificate=False;&#xA;         ApplicationIntent=ReadWrite;&#xA;         MultiSubnetFailover=False"/>
  </appSettings>
  <connectionStrings>
    <add name="ShowmarkNETConnectionString" connectionString="Data Source=shawma;Initial Catalog=ShowmarkNET;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>