<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <appSettings>
    <add key="SQLConnect" value="Data Source=DESKTOP-KR8A64M;Initial Catalog=ShowmarkNET;User ID=sa;Password=123456;
         Connect Timeout=30;Encrypt=False;
         TrustServerCertificate=False;
         ApplicationIntent=ReadWrite;
         MultiSubnetFailover=False"/>
  </appSettings>
  <connectionStrings/>
</configuration>