#container_bg {
    background-color: aliceblue;
    opacity: 60;
    height: 100%;
    margin-top:200px;
    padding: 20px

}

#container_user_modify {
    background-color: aliceblue;
    opacity: 60;
    height: 100%;
    margin-top: 30px;
    padding: 20px

}
.labelTag{
    font-size: 15px;
    color: gray;
    text-align: center;
    line-height:200%;
    vertical-align: auto
}
.form-group{
    margin: 30px;
}
.asideBar{
    margin-left: 100px;
}
.userInfo{
    margin: 0,10px;
}

.navbar{
    margin: 0px;
}
.btn_info_nav{
    margin: 10px;
}
#btn-submit{
    display: none;
}